<mat-accordion [displayMode]="flat">
  <mat-expansion-panel *ngFor="let film of films" class="film-panel" ngClass="body-1">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        {{film.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="mat-typography">{{film.description}}</p>
    <mat-action-row>
      <button mat-icon-button>

        <mat-icon>info_outline</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
