<div class="container" [class.is-mobile]="mobileQuery.matches">
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">Catbus Search</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a *ngFor="let route of sidenavLinks" mat-list-item routerLink="{{route.link}}">{{route.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="loading" class="spinner-container">
      <mat-spinner class="spinner" color="accent"></mat-spinner>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
