<div class="container" *ngIf="species">
  <mat-card class="mat-typography detail-card">
    <mat-card-header style="display: inline !important;">
      <mat-card-title-group>
        <mat-icon>face</mat-icon>

        <mat-card-title>{{species.name}}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

      <p class="mat-typography">Classification: {{species.classification}}</p>
      <p class="mat-typography">Eye Colors: {{species.eye_colors}}</p>
      <p class="mat-typography">Hai Colors: {{species.hair_colors}}</p>

      <mat-accordion>
        <mat-expansion-panel
          [disabled]="!people.length || peopleLoading"
          [hideToggle]="!people.length || peopleLoading">
          <mat-expansion-panel-header>
            <mat-panel-title>
              People
            </mat-panel-title>
            <mat-panel-description *ngIf="peopleLoading">
              <mat-spinner [diameter]="25" color="accent"></mat-spinner>
            </mat-panel-description>
            <mat-panel-description *ngIf="!people.length && !peopleLoading">
              No persons available
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let person of people">
              <mat-icon mat-list-icon>face</mat-icon>
              <p mat-line>{{person.name}}</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>


  </mat-card>

</div>
