<div class="container">
  <mat-card class="mat-typography card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{film.title}}</mat-card-title>
        <mat-card-subtitle>{{film.director}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>Storyline</mat-card-subtitle>
      <p>{{film.description}}</p>
      <h3>Rotten Tomato Score</h3>
      <p> {{film.rt_score}}</p>
      <p>Release date: {{film.release_date}}</p>
    </mat-card-content>
  </mat-card>
</div>
