<div class="container" *ngIf="person">
  <mat-card class="mat-typography detail-card">
    <mat-card-header style="display: inline !important;">
      <mat-card-title-group>
        <mat-icon>face</mat-icon>

        <mat-card-title>{{person.name}}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

      <p class="mat-typography">Age: {{person.age}}</p>
      <p class="mat-typography">Eye Color: {{person.eye_color}}</p>
      <p class="mat-typography">Gender: {{person.gender}}</p>
      <p class="mat-typography">Hair Color: {{person.hair_color}}</p>

      <mat-accordion>
        <mat-expansion-panel
          [hideToggle]="species.name.length == 0 || speciesLoading"
          [disabled]="species.name.length == 0 || speciesLoading">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Species
            </mat-panel-title>
            <mat-panel-description *ngIf="species.name.length == 0 && !speciesLoading">
              No species available
            </mat-panel-description>
            <mat-panel-description *ngIf="speciesLoading">
              <mat-spinner [diameter]="25" color="accent"></mat-spinner>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="species.name.length != 0 && !speciesLoading">
            <p class="mat-typography">Name: {{species.name}}</p>
            <p class="mat-typography">Classification: {{species.classification}}</p>
            <p class="mat-typography"></p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>


  </mat-card>

</div>
