<mat-accordion>
  <mat-expansion-panel *ngFor="let person of people" class="mat-body-1">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-typography">
        {{person.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="mat-typography">Age: {{person.age}}</p>
    <p class="mat-typography">Eye Color: {{person.eye_color}}</p>
    <p class="mat-typography">Gender: {{person.gender}}</p>
    <p class="mat-typography">Hair Color: {{person.hair_color}}</p>
    <mat-action-row>
      <a [routerLink]="['/search/people/', person.id]" mat-icon-button color="primary">
        <mat-icon>info_outline</mat-icon>
      </a>

    </mat-action-row>
  </mat-expansion-panel>
  <p></p> <!-- Only exists so the last expansion panel doesn't get cut  -->
</mat-accordion>

